<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="search-container" class="col-md-8 offset-md-3">
    <input id="search-input" type="text" placeholder="Search">
    <button id="search-btn" class="btn btn-primary">Search</button>
</div>
<div class="mt-5 col-md-10 offset-md-1">
    <table id="result-tb">
    </table>
</div>
<script src="js/index.bundle.js"></script>
</body>
</html>